.first{
    box-sizing: border-box;
    border-color: black;
    border: 5px solid black;
    max-width: 500px;
    height: 500px;
    margin: 150px 500px;

}
.second{
    box-sizing: border-box;
    border-color: black;
    border: 5px solid black;
    max-width: 250px;
    height: 225px;
    margin: 141px;

}
.third{
    box-sizing: border-box;
    border-color: black;
    border: 5px solid black;
    max-width: 100px;
    height: 100px;
    margin: 50px;
    border-radius:60%;


}
